openapi: 3.0.4
info:
  title: BMI Calculator
  description: >-
    BMI Calculator computes Body Mass Index along with ideal weight ranges, BMR
    (Basal Metabolic Rate), TDEE (Total Daily Energy Expenditure), calorie
    targets, and macronutrient recommendations for fitness and health
    applications.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/bmicalculator:
    get:
      summary: Calculate BMI and Fitness Metrics
      description: Calculate BMI, ideal weight, BMR, TDEE, calorie targets and macros
      operationId: bmicalculator
      parameters:
        - name: weight
          in: query
          schema:
            type: number
          required: true
          description: Weight in kg (metric) or lbs (imperial)
          example: 180
        - name: height
          in: query
          schema:
            type: number
          required: true
          description: Height in cm (metric) or inches (imperial)
          example: 70
        - name: unit
          in: query
          schema:
            type: string
          required: true
          description: Unit system for weight and height
          example: imperial
        - name: age
          in: query
          schema:
            type: number
          required: false
          description: Age in years (required for BMR/TDEE calculations)
          example: 30
        - name: gender
          in: query
          schema:
            type: string
          required: false
          description: Gender (required for BMR/TDEE calculations)
          example: male
        - name: activityLevel
          in: query
          schema:
            type: string
          required: false
          description: Activity level (required for TDEE/calorie calculations)
          example: moderate
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  height: 170 cm
                  weight: 70 kg
                  bmi: 24.221453287197235
                  risk: Low risk
                  summary: This weight is normal and you are healthy.
                  recommendation: >-
                    A BMI between 18.5 and 24.9 falls within the 'normal' weight
                    range according to the World Health Organization. This range
                    is associated with the lowest health risk for conditions
                    such as heart disease, diabetes, and certain cancers.
                    However, it's important to note that BMI is not a perfect
                    measure as it does not account for muscle mass, bone
                    density, overall body composition, and racial and sex
                    differences. Therefore, while it's a useful starting point,
                    it should not be the only measure of one's health.
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
